*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    text-align: center;
    background-color: #14263f;
    color: aliceblue;
}
h1{
    /* padding: 15px; */
    color: rgb(252, 252, 252);
    text-shadow: 3px 3px #5c5a5a;
    font-size: 2rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.container{
    height: 70vmin;
    /* background-color: aqua; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.game{
    height: 60vmin;
    width: 60vmin;
    /* background-color: aquamarine; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2vmin;
}
.box{
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    /* background-color: #2a304a; */
    background-color: #0d324e;
    font-size: 3rem;
    font-weight: 600;
    /* color: rgb(217, 189, 31); */
    /* color: #6fffe9; */
}

.box:hover{
    background-color: #0b2f4a;
}

#reset{
    width: 18vmin;
    height: 7vmin;
    border-radius: 0.5rem;
    background-color: #f6f60b;
    font-size: 1rem;
    font-weight: 700;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;

    /* border: 1px solid #f6f60b; */
}
#reset:hover{
    background-color: #dfdb11;
    border: none;
}

.container1{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    gap: 19px;
    /* background-color: #dfdb11; */
}
#msg{
    font-size: 2.5rem;
    color: #ffffc7;
    /* height: 5rem; */
}

#new-btn{
    width: 18vmin;
    height: 7vmin;
    border-radius: 0.5rem;
    background-color: #f6f60b;
    font-size: 1rem;
    font-weight: 700;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;

}
#new-btn:hover{
    background-color: #dfdb11;
    border: none;
}

.hide{
    background-color: #dfdb11;
    display: none;
}